*.pyc
.DS_Store
*.o
lab3/connect4/4ply.1
lab3/connect4/4py
lab3/connect4/7x6.book
lab3/connect4/8py
lab3/connect4/8py.book
lab3/connect4/12ply.1
lab3/connect4/12ply.book
lab3/connect4/12py
.gitignore
lab3/connect4/generator
lab3/connect4/cs4solver
.gitignore
.gitignore
lab3/connect4/c4solver
lab3/connect4/10ply_key.book
lab3/connect4/10ply.book
lab3/connect4/10ply.moves
lab3/connect4/12.moves
lab3/connect4/12ply_key.book
lab3/connect4/12ply.moves
lab3/submission.tar.gz
lab3/opening_book.12.bak
lab3/connect4/22ply.book
lab3/opening_book.20
lab3/connect4/20ply.moves
